/*
    Intended use for this file is to contain things like
    primary/secondary fonts, default font sizes for elements,
    colors, etc.
*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

p, span, div, a, li, button, select, textarea, option, input {
    font-family: 'Open Sans', sans-serif;
}

.invalid {
    color: red;

    &:before {
        content: "✘ ";
    }
}

.valid {
    color: green;

    &:before {
        content: "✓ ";
    }
}

.-center-container {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
