/*
    Intended use for this file is to contain things like
    primary/secondary fonts, default font sizes for elements,
    colors, etc.
*/

#register{
    padding-top: 100px;
    margin: auto;
    width: 80em;
}

.ant-input-password, .ant-input-affix-wrapper, .ant-form-item-control-input-content, .ant-form-item-control-input{
    width: 400px;
}

.ant-row.ant-form-item{
    width: 40%;
    margin: auto;
}

#centerBtn{
    padding-top: 10px;
    padding-left: 10px;
    margin: auto;
    width: 40%;
}