$navbar-height: 50px;
$sidebar-width: 200px;

$hide-transition: all .5s ease-in-out;
$unhide-transition: opacity 1s ease-in-out;
$minor-spacing: 10px;
$banner-header-font-size: 60px;

@mixin hide() {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: $hide-transition;
}

@mixin unhide() {
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition: $unhide-transition;
}

$xs-breakpoint: 480px;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1600px;
